body {
  background: #eee !important;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
a, a:hover, a:focus, a:active {
  color: #ffffff;
  text-decoration: none;
}
.form-signin {
  max-width: 500px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-block{
  margin-top: 30px;
}