<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav">
                <li><a id="profile" href="/profile/me"><i class="fa fa-home"></i> Home</a></li>
                <li><a id="conversations" href="/conversations"><i class="fa fa-envelope-o"></i> Messages</a></li>
                <li><a id="search" href="/search"> <i class="fa fa-search"></i> Search </a> </li>
                <li><a href="/logout"> <i class="fa fa-sign-out"></i> Log out</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="login"><span class="glyphicon glyphicon-user"></span><security:authentication property="principal.username" /></a></li>
            </ul>

        </div>
    </div>
</nav>
<script>

    (function() {
    var nav = document.getElementById('myNavbar'),
        anchor = nav.getElementsByTagName('a'),
        current = window.location.pathname.split('/')[1];
        for (var i = 0; i < anchor.length; i++) {
            if(anchor[i].id === current) {
                anchor[i].parentElement.className = "active";
            }
        }
    })();
</script>